*{
	margin: 0;
	padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#box1{
	background-color: #CCC;
	padding: 20px 0;
}
.container-fluid{
	padding: 0;
}
#chuangjian{
  float: right;
  background-color: #5CB85C;
  color: #fff;
  margin-top: 10px;
}
#case{
	min-height: 420px;
	padding: 40px 0;
	background-color: #eee;
	text-align: center;
}
#case .number{
	font-size: 0.7em;
	color: #666;
}
#case a{
	color:#0090FF;
	font-size: 0.7em;
}
.thumbnail{
	min-height: 160px;
}
.information1{
	padding: 10px 0;
	float: left;
}
.information1 .number{
	float: left;
	margin-left: 10px;
}
.information1 .glyphicon-trash{
	margin-right: 10px;
	float: right;
	cursor: pointer;
}
.information1 .glyphicon-pencil{
	cursor: pointer;
	margin-right: 15px;
	float: right;
}
.information2{
	float: left;
}
.information2 a{
	float: left;
	margin-left: 10px;
	display: inline-block;
}
.caption{
	margin-bottom: 30px;
	margin-top: 40px;
	margin-right: 20px;
	float: left;
}
.caption .btn-info{
	font-size: 0.6em;
}
.member{
	border-left: 1px solid #ccc;
	height: 350px;
}
.info-content{
	background-color: #fff;
	margin:  0 0 11px 0;
}
#footer{
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}