*{
	margin: 0;
	padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*主体部分之一*/
#box1{
	background-color: #CCC;
	padding: 20px 0;
}
.container-fluid{
	padding: 0;
}
#chuangjian{
	float: right;
	background-color: #5CB85C;
	color: #fff;
}
/*主题部分之二 项目展示*/
#case{
	min-height: 420px;
	padding: 40px 0;
	background-color: #eee;
	text-align: center;
}
.thumbnail .row .number{
	font-size: 0.7em;
	color: #666;
	float: left;
	margin-left: 10px;
}
#case a{
	color:#0090FF;
	font-size: 0.7em;
}
.thumbnail{
	min-height: 160px;
}
.information1{
	padding: 10px 0;
	float: left;
}
.information2{
	float: left;
}
.caption{
	margin-bottom: 30px;
}
.caption .btn-info{
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 25px;
	font-size: 0.6em;
}
.information1 .glyphicon-trash{
	margin-right: 10px;
	float: right;
	cursor: pointer;
}
.information1 .glyphicon-pencil{
	cursor: pointer;
	margin-right: 15px;
	float: right;
}
.information2 a{
	float: left;
	margin-left: 10px;
	display: inline-block;
}
/*底部*/
#footer{
	background-color: #ccc;
	color: #444;
	padding: 20px;
	text-align: center;
}