*{
	margin: 0;
	padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#box1{
	background-color: #CCC;
	padding: 20px 0;
  margin-top: 50px;
}
.container-fluid{
  padding: 0;
}

#chuangjian{
  float: right;
  background-color: #5CB85C;
  color: #fff;
  margin-top: 10px;
}
#case{
  display: grid;
  height: 490px;
  grid-template-rows: 440px 50px;
  background-color: #eee;
  text-align: center;
}
/*table{
  width: 1000px;
}
table td a{
   color:#0090FF;
}
table td a:hover{
  font-size: 0.6em;
  text-decoration: none;
 
}
*/
#footer{
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}